<mat-toolbar color="primary">Login to the App</mat-toolbar>

<form [formGroup]="loginForm" (ngSubmit)="submit()" class="form">

        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">

          <mat-error 
            *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email']touched">
            <mat-error *ngIf="loginForm.get('email').errors.required">
              Enter your email
            </mat-error>
            <mat-error *ngIf="loginForm.get('email').errors.email">
              This field should contain @ character
            </mat-error>
          </mat-error>
        </mat-form-field>
        
        <br>
        
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
          <mat-hint>Min 6 characters</mat-hint>

          <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Required field, must be 6 or more characters.
          </mat-error>
        </mat-form-field>
        
        <br>
        <button mat-raised-button color="primary" type="submit"  [disabled]="!loginForm.valid">Login</button>

</form>


